<div class="house-scene">
  <div class="house">
    <div class="room">
      <div class="appliance" *ngFor="let appliance of appliances" 
           [style.top]="appliance.position.top"
           [style.left]="appliance.position.left"
           [style.background]="appliance.position.background"
           (click)="pick(appliance.id)">
        <span class="appliance-icon">{{ appliance.icon }}</span>
        <span class="appliance-name">{{ appliance.name }}</span>
      </div>
    </div>
  </div>
</div>